[Desktop Entry]
Name=DVDRipOMatic
GenericName=: DVD Ripping Tool
Comment=%{summary}
Exec=dvdripomatic
Icon=dvd_unmount
Terminal=false
Type=Application
Categories=Qt;KDE;AudioVideo;
